@model List<myFirstMvc.Models.DogViewModel>

@*
  For more information on enabling MVC for empty projects visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
}

<h2>HelloWorld Controller Man</h2>
<p>This is the index page of the HelloWorld Controller</p>
<br>

<ul>
  @foreach(var dog in Model){
    <li><strong>@dog.Name</strong> - @dog.Age years old</li>
  }
</ul>